/*Project Archive Tiles*/
.projects-archive {
	/*width: 100%;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-content: center;*/
}
.projects-archive .project {
    /*display: inline-block;*/
    /*width: 100%;*/
	margin-bottom: 30px;
    /*vertical-align: top;*/
    position: relative;
    padding-bottom: 72px;
    border: 1px solid #ccc;
    /*border-radius: 3px;*/
	overflow: hidden;
	/*box-shadow: 5px 5px 50px 0px rgba(214,231,239,0.2);*/
	background-color: #fff;
}
@media screen and (min-width: 910px) {
    .projects-archive .project {
        width: 48%;
    }
}
.projects-archive .project .entry-title {
	padding: 20px 40px 0;
}
.projects-archive .project .description {
	/*font-size: 14px;*/
	padding: 0 40px;
}

/*Role Styling*/

.roles {
	position: relative;
	list-style-type: none;
	margin: 0 auto 1em;
	text-align: center;
	background-color: #f1f1f1;
	padding: 20px;
}
.roles li {
	display: inline-block;
	/*padding: 0 0.5em;*/
	/*margin-top: 1em;*/
	width: 150px;
	vertical-align: top;
	position: relative;
	/*font-size: 15px;*/
	text-align: center;
}
.roles li span {
	display: block;
}
.roles li .role {
	padding-top: 0.5em;
	font-weight: bold;
}
.roles li img.avatar {
	/*border: 1px solid rgba(0,0,0,0.33);*/
}
.roles li .open img.avatar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.8;
	z-index: -1;
}
.roles li .avatar.empty {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 auto;
	background-color: #fff;
}
.roles li .open .avatar.empty:hover {
	background: rgba(0,0,0,0);
}
.roles li .avatar.empty .join {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	line-height: 96px;
	font-weight: bold;
	color: #444;
	text-shadow: none;
}
.roles li .avatar.empty:hover .join {
	color: #fff;
}
.projects-archive .project .roles {
	position: absolute;
	width: 100%;
    bottom: 0;
    left: 0;
	padding: 20px 40px 20px;
	border-top: 1px solid #ccc;
	/*margin-top: 20px;*/
	text-align: left;
	margin: 0;
}
.projects-archive .project .roles li {
	/*display: inline-block;*/
	width: 30px;
	height: 30px;
	/*padding: 0;*/
	margin: 0 2px 0;
	border-radius: 15px;
	overflow: hidden;
}
.projects-archive .project .roles li .avatar.empty {
	width: 100%;
	height: 100%;
	display: block;
}
.projects-archive .project .roles li > div {
	/*width: 100%;*/
	height: 100%;
}
.projects-archive .project .roles .role, 
.projects-archive .project .roles .name {
	display: none;
}
/*Project Tile Like Button*/
.likes {
	position: absolute;
	top: 14px;
    right: 20px;
}
.likes span {
	position: relative;
	font-size: 0.8em;
	display: inline-block;
	top: -7px;
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-weight: 400;*/
}
.likes a {
	font-size: 0;
}
.likes a.unlike:after {
	/*color: #ff4401;*/
}
.likes a:after {
	content: "\f487";
	font-family: 'Dashicons';
	font-size: 1.4rem;
}
.likes a.like:after {
	color: #f1f1f1;
}
.likes a:hover.like:after {
	color: inherit;
}