/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
* {
	transition: 0.2s;
}
body {
	font-family: 'Lato', sans-serif !important;
	/*color: #788C94 !important;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif !important;
	font-weight: 300 !important;
}
.site-branding .custom-logo-link img {
	max-width: 100px;
}



.single-project article .entry-header {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
	padding: 1em;
	margin: 0 auto 2em;
	position: relative;
	z-index: 1;
}

.single-project article .entry-header .feature-color {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #444;
}

.single-project article .entry-content {
	margin-top: 3em;
	background-color: #fff;
    padding: 3em 4em;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.single-project article .entry-content ul,
.single-project article .entry-content ol {
	margin-left: 1em;
}
.business-model {
	width: 100%;
	font-size: 0.8em;
	margin: 3em 0 !important;
}
.business-model h2 {
	margin: 0 15% 0.5em;
}
.business-model h3 {
	margin-bottom: 0.5em;
}
.business-model .canvas {
	border-right: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
}
.business-model .canvas div {
	width: 100%;
	flex: 1 1 20%;
}
.business-model .canvas div > div {
	border-top: 1px solid #c6c6c6;
	border-left: 1px solid #c6c6c6;
	background: #f7f7f7;
	padding: 1em;
	overflow: scroll;
}
.business-model .canvas .row {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	align-content: stretch;
}
.business-model .canvas .key-partners {
	height: 40em;
}
.business-model .canvas .key-activities {
	height: 20em;
}
.business-model .canvas .key-resources {
	height: 20em;
}
.business-model .canvas .value-proposition{
	height: 40em;
}
.business-model .canvas .customer-relationships {
	height: 20em;
}
.business-model .canvas .channels {
	height: 20em;
}
.business-model .canvas .customer-segments {
	height: 40em;
}
.business-model .canvas .cost-structure {
	height: 15em;
}
.business-model .canvas .revenue-streams {
	height: 15em;
}
@media screen and (max-width: 756px) {
	.business-model .canvas div {
		width: 100%;
		flex: 1 1 100%;
		height: auto !important;
	}
}

.timeline ul {
	list-style-type: none;
	border-left: 3px solid #000;
	margin-left: 0;
	padding-left: 40px;
	position: relative;
}
.timeline li .date {
	font-style: italic;
	margin-bottom: 0.5em;
}
.timeline li:before {
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: #000;
	display: block;
	content: '';
	position: absolute;
	left: 0;
	margin-left: -10px;
	margin-top: 6px;
}
.timeline li h3 {
	margin-bottom: 0.5em;
}
.timeline li p {
	margin: 0 0 1em;
}
@media screen and (min-width: 756px) {
	.timeline ul {
		list-style-type: none;
		border-left: 3px solid #000;
		margin-left: 190px !important;
		padding-left: 40px;
		position: relative;
	}
	.timeline li .date {
		position: absolute;
		left: 0px;
		margin-left: -230px;
		text-align: right;
		width: 150px;
	}
	.timeline li {
		background: #f7f7f7;
		border: 1px solid #c6c6c6;
		margin-bottom: 1em;
		padding: 1em 1em 0;
		border-radius: 2px;
		position: relative;
	}
	.timeline li:before {
		margin-left: -51px;
	}
}
.roles {
	list-style-type: none;
	margin: 0 auto;
}
.roles li {
	display: inline-block;
	padding: 0 0.5em;
	margin-top: 1em;
	width: 150px;
	vertical-align: top;
	position: relative;
	font-size: 15px;
}
.roles li span {
	display: block;
}
.roles li .role {
	padding-top: 0.5em;
	font-weight: bold;
}
.roles li img.avatar {
	/*border: 1px solid rgba(0,0,0,0.33);*/
}
.roles li .open img.avatar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.8;
	z-index: -1;
}
.roles li .avatar.empty {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	/*background: radial-gradient(circle, #666, #444);*/
	/*box-shadow: inset 0 0 10px #222;*/
	background-color: #fff;
	margin: 0 auto;
	background-color: rgba(255,68,0,0.1);
}
.projects-archive .roles li:nth-child(1) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,1);*/
	/*background-color: rgba(255,68,0,0.3);*/
}
.projects-archive .roles li:nth-child(2) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,0.7);*/
}
.projects-archive .roles li:nth-child(3) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,0.5);*/
}
.projects-archive .roles li:nth-child(4) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,0.3);*/
}
.projects-archive .roles li:nth-child(5) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,0.1);*/
}
.projects-archive .roles li:nth-child(6) .avatar.empty {
	/*border: 2px solid rgba(255,68,0,0.5);*/
}
.roles li .open .avatar.empty:hover {
	background: rgba(0,0,0,0);
}
.roles li .avatar.empty .join {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	line-height: 96px;
	font-weight: bold;
	color: #444;
	text-shadow: none;
}
.roles li .avatar.empty:hover .join {
	color: #fff;
}
.likes {
	position: absolute;
	top: 14px;
    right: 20px;
}
.likes span {
	position: relative;
	font-size: 0.8em;
	display: inline-block;
	top: -7px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.likes a {
	font-size: 0;
}
.likes a:after {
	content: "\f487";
	font-family: 'Dashicons';
	font-size: 1.4rem;
}
.likes a.like:after {
	color: #E5F3FF;
}
.likes a:hover.like:after {
	color: #ff4401;
}
